syntax:glob
*.o
*.so
*.class
swig/pl/area.pm
swig/py/area.py
swig/pl/area_wrap.c
swig/py/area_wraparea.py
swig/java/area.java
swig/java/areaJNI.java
swig/java/area.class
swig/java/areaJNI.class
swig/java/area_wrap.c
*.pyc
swig/py/area_wrap.c
swp
c/array_example
c/array_of_pointers
c/const_ptr
c/daemon
c/function_pointers
c/get_set_env
c/line
c/multiple_signal_handler
c/namespace
c/open_13_terms
c/outline
c/fork_example
c/pointers
c/pointer_to_constant
c/pointer_to_pointer
c/print_args
c/sigint_handler
c/socket-client
c/socket-server
c/uuid-example
cbasic/functions_n_pointers
cbasic/pthread_example
cbasic/realloc_test
cbasic/statics_testing
cbasic/structures
cbasic/swapnum
cbasic/time_test
cbasic/process_control
cmysql/gtk_displaying_image_from_char_array
cmysql/gtk_displaying_image_from_file
cmysql/gtk_displaying_mysql_loaded_image
cmysql/mysql_client_version
cmysql/mysql_create_database
cmysql/mysql_create_table_and_insert
cmysql/mysql_insert_image
cmysql/mysql_select_and_describe_friends
cmysql/mysql_select_image
cmysql/mysql_selecting_from_table
cmysql/read_file_to_char_array
cmysql/sizeof_experiments
credis/redis_test
cjson/reformat_test
cbasic/atexit__exit_test
cbasic/atexit_exit_test
cjson/cbasiclinked_list_test
cjson/stacking_test
cjson/linked_list_test
cbasic/memcpy_malloc_free_test
i8n/umlaut
i8n/using_lconv_setting_locale
i8n/setlocale_example
cpp/hello_world
cpp/cost_of_miles
cpp/gcd

